#mymap {
    width: 93%;
    height: 400px;
    margin-bottom:50px;
    margin-left:15px;
}




.navbar {
  
  min-height: 75px;
  
  }

.navbar-header{
  padding-left:10px;
  
}
.navbar-brand{
	display: inline-block;
	padding-top:5px;
	
}

.sidebar{

  margin-top:75px;
}

a {
  color: #1e7ed2;
  text-decoration: none;
}

.layouting1{
  display: inline-block; width:40px;
}
.layouting2{
  display: inline-block; width:80%;
}

.layouting3{
  display: inline-block; width:150px;
}
.layouting4{
  display: inline-block; width:80%;
}

.buttonsearch{
  position:absolute; padding-left:14px;display:inline-block;white-space: nowrap;left:0px;
}

.note-group-select-from-files {
  display: none;
}